BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentCaseLabels: true
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
SpacesBeforeTrailingComments: 2
